body {
	font-family: Arial, Helvetica, sans-serif;	
}

#site-title {
	display: none;
}

#header, #menu-top, #body, #footer, #footer-cpi {
	width: 775px;
	margin: 0 auto;
}

#header {
	background: url(images/header.jpg) center top no-repeat;
	height: 120px;
}

#header div {
	margin: 10px 0 0 10px;
}

#menu-top {
	height: 30px;
	border-bottom: 1px solid #000;
}

#menu-top ul {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

#menu-top ul, #menu-top li {
	list-style-type: none;
	text-align: center;
}

#menu-top li {
	float: left;
	padding: 0;
	margin: 0;
	height: 30px;
	background: url(images/button_bg.jpg) right top no-repeat;
	width: 140px;
	line-height: 30px;
}

#menu-top li a {
	color: #fff;
	font-size: 12pt;
	text-decoration: none;
	padding-right: 4px;
}

#menu-left {
	width: 177px;
	background: url(images/sombra_left.jpg) right top repeat-y;
}

	#menu-left ul {
		padding: 0;
		margin: 20px 25px 0 0px;
		list-style-type: none;
	}
	
	#menu-left li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		background: url(images/icon_arrow.jpg) 0px 6px no-repeat;
		padding-left: 18px;
		padding-bottom: 6px;
	}
	
	#menu-left li a {
		color: #cc9626;
		font-size: 13px;
	}

#content {
	width: 430px;
	padding-top: 20px;
}

#menu-right {
	width: 169px;
	background: url(images/sombra_right.jpg) left top repeat-y;
}

#footer {
	height: 50px;
	border-bottom: 2px solid #ccc;
}

#footer-cpi {
	height: 77px;
}

#footer, #footer-cpi {
	background-color: #333;
	color: #fff;
	font-size: 11px;
}

#footer div, #footer-cpi div {
	padding: 12px 10px 0 10px;
	text-align: center;
}
