body {
	font-family: Arial, Helvetica, sans-serif;	
}

.accesibility {
	display: none;
}

img {
	border: 0;
}

dl {
	padding: 0;
	margin: 0;
}

dt {
	font-size: 12pt;
	font-weight: bold;
	color: #5c5c5c;
}

dd {
	font-size: 11pt;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	margin-bottom: 10px;
	color: #5c5c5c;
}

#header, #menu-top, #body, #footer, #footer-cpi {
	width: 775px;
	margin: 0 auto;
}

#header {
	background: url(images/header.jpg) center top no-repeat;
	height: 120px;
}

#header div {
	margin: 10px 0 0 10px;
}

#header div img {
	width: 145px;
	height: 80px;
}

#menu-top {
	height: 30px;
	border-bottom: 1px solid #000;
}

#menu-top ul {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

#menu-top ul, #menu-top li {
	list-style-type: none;
	text-align: center;
}

#menu-top li {
	float: left;
	padding: 0;
	margin: 0;
	height: 30px;
	background: url(images/button_bg.jpg) right top no-repeat;
	width: 140px;
	line-height: 30px;
}

#menu-top li a {
	color: #fff;
	font-size: 12pt;
	text-decoration: none;
	padding-right: 4px;
}

#menu-left {
	width: 177px;
	background: url(images/sombra_left.jpg) right top repeat-y;
	padding-top: 20px;
}

	#menu-left ul {
		padding: 0;
		margin: 0 25px 0 0;
		list-style-type: none;
	}
	
	#menu-left li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		background: url(images/icon_arrow.jpg) 0px 5px no-repeat;
		padding-left: 18px;
		padding-bottom: 4px;
	}
	
	#menu-left li a {
		color: #cc9626;
		font-size: 13px;
		text-decoration: none;
	}
	
	#menu-left li a:hover {
		text-decoration: underline;
	}

#content {
	width: 430px;
	padding-top: 20px;
	color: #5c5c5c;
	font-size: 10pt;
	padding-bottom: 20px;
}

.cols-3 #content {
	width: 599px;
}

	.migajas {
		font-size: 11px;
		color: #5c5c5c;
	}

	#content h2 {
		font-size: 14pt;
	}
	
	#content h3 {
		font-size: 12pt;
	}

#menu-right {
	width: 169px;
	padding-top: 20px;
	background: url(images/sombra_right.jpg) left top repeat-y;
	text-align: right;
}

#footer {
	height: 50px;
	border-bottom: 2px solid #ccc;
}

#footer-cpi {
	height: 77px;
}

#footer, #footer-cpi {
	background-color: #333;
	color: #fff;
	font-size: 11px;
}

#footer div, #footer-cpi div {
	padding: 12px 10px 0 10px;
	text-align: center;
}
